Flask
python-dotenv # Variables de entorno
Flask-SQLAlchemy # Conexion a la base de datos
mysqlclient # conexion con mysql
Flask-WTF # Integrar formularios wtf con flask
Flask-Bcrypt # Crear hash para contraseñas
Flask-Login
email-validator
SQLAlchemy-Utils # Abstraccion de metodos utiles, como verificar la existencia de una base de datos, o crear una base de datos
pdfkit # wkhtmltopdf is needed to be installed in the os
Jinja2 # Installed by flask, also needed for PDFKit
Flask-Mail # Para enviar correos
# Development
black | formatter
# Apache Xampp server
mod_wsgi # Para despligue en servidor xampp
