<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAUTEC {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-5.3.5-css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">
</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="/">CAUTEC</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <!-- Barra de navegacion si el usuario tiene sesión iniciada -->
                    {% if current_user.is_authenticated %}
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="{{ url_for('main.index') }}">Inicio</a>
                        <a class="nav-item nav-link" href="{{ url_for('reportes.ver_reportes') }}">Reportes</a>
                        <a class="nav-item nav-link"
                            href="{{ url_for('departamentos.ver_departamentos') }}">Departamentos</a>
                    </div>
                    <div class="navbar-nav ms-auto">
                        <a class="nav-item nav-link" href="{{ url_for('usuarios.cuenta') }}">Cuenta</a>
                        <a class="nav-item nav-link" href="{{ url_for('usuarios.logout') }}">Cerrar sesión</a>
                    </div>
                    <!-- Barra de navegación si no se ha iniciado sesión -->
                    {% else %}
                    <div class="navbar-nav ms-auto">
                        <a class="nav-item nav-link" href="{{ url_for('usuarios.registrarse') }}">Registrarse</a>
                        <a class="nav-item nav-link" href="{{ url_for('usuarios.login') }}">Ingresar</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container">

        <div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

        </div>
        {% block body %}{% endblock %}
    </main>

    <script src="{{ url_for('static', filename='js/bootstrap-5.3.5-js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>