{% extends './layout.html' %}

{% block title %}
- Inicio
{% endblock %}

{% block content %}

<div class="container-fluid flex-grow-1 py-2">
    <div class="row">
        {% include "messages.html" %}
    </div>
    <div class="row">
        <div class="col-md-8">
            <div>
                <h1>Bienvenido a Cautec</h1>
                <div class="px-4">
                    <img src="../static/images/logo_cautec.jpeg" alt="Logo CAUTEC" style="width: -webkit-fill-available;"/>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            {% include "notificaciones/seccion-notificaciones.html" %}
        </div>
    </div>
</div>
{% endblock %}