<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAUTEC {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-5.3.5-css/bootstrap.min.css') }}"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">
    {% block link_css %}{% endblock %}
</head>

<body class="d-flex flex-column" style="height: 100vh;">
    <header class="site-header">
        {% include "navbar.html" %}
    </header>

    <main class="flex-grow-1 d-flex ">
            {% include "sidebar.html" %}
            {% block content %}{% endblock content %}
    </main>

    <script src="{{ url_for('static', filename='js/bootstrap-5.3.5-js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>