<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAUTEC {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-5.3.5-css/bootstrap.min.css') }}"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    {% block link_css %}{% endblock %}
</head>

<body class="d-flex flex-column vh-100">
    <!-- Header is in fixed position so it overlaps body -->
    <header class="site-header">
        <nav class="navbar navbar-expand-md bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <!-- Brand image -->
                    <!-- <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"> -->
                    <img src="{{ url_for('static', filename='images/ula_hogb.png') }}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    Cautec
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <!-- Barra de navegacion si el usuario tiene sesión iniciada -->
                    {% if current_user.is_authenticated %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.index') }}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('reportes.ver_reportes') }}">Reportes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                                href="{{ url_for('departamentos.ver_departamentos') }}">Departamentos</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('usuarios.cuenta') }}">Cuenta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('usuarios.logout') }}">Cerrar sesión</a>
                        </li>
                    </ul>
                    <!-- Barra de navegación si no se ha iniciado sesión -->
                    {% else %}
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('usuarios.login') }}">Ingresar</a>
                            <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('usuarios.registrarse') }}">Registrarse</a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>

    <main class="flex-grow-1 d-flex flex-row">
        
        <div class="container-fluid bg-img">
            <div class="row h-100">
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <div class="contenedor-bienvenida">
                        <h1>Bienvenido a Cautec</h1>
                        <p>La plataforma digital de la Unidad de Soporte Tecnico de la ULA-NURR para la gestion de servicios de soporte tecnico. Realiza reportes de trabajo y te atenderemos con gusto!</p>
                        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt nulla atque commodi assumenda perferendis ipsum minima magnam quia dolor accusamus alias tempora, iusto debitis aspernatur, rem pariatur. Non, sed neque?</p> -->
                    </div>
                </div>
    
               <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <div class="content-section contenedor-formulario">
                        {% include "messages.html" %}
                        {% block content %}{% endblock content %}
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer></footer>

    <script src="{{ url_for('static', filename='js/bootstrap-5.3.5-js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>