{% extends 'base.html' %}

{% block title %}
 - Crear reporte
{% endblock %}


{% block body %}

<h2>Crear nuevo reporte</h2>
                   
<form action="{{ url_for('reportes.crear_reporte') }}" method="post">
  <ul>
    <li>
        {{ form.titulo.label }}
        {{ form.titulo }}
        <!-- form.titulo(disabled='True') -->
    </li>
    <li>
        {{ form.descripcion.label }}
        {{ form.descripcion }}
    </li>
    <li>
        <!-- Cambiar por un input check -->
        {{ form.tipo.label }}
        {{ form.tipo }}
    </li>
    <li>
        {{ form.categoria.label }}
        {{ form.categoria }}
    </li>
    <li>
        {{ form.submit }}
    </li>
  </ul>
</form>
{% endblock %}

