{% extends 'layout.html' %}

{% block title %}
 - Editar reporte
{% endblock %}


{% block content %}

<h2>Editar reporte</h2>
<form action="{{ url_for('reportes.editar_reporte', id=reporte.id) }}" method="post">
  <ul>
    <li>
      <label for="titulo">Titulo:</label>
      <input type="text" name="titulo" id="titulo" value="{{ reporte.titulo }}">
    </li>
    <li>
      <label for="descripcion">Descripcion:</label>
      <textarea name="descripcion" id="descripcion" rows="2" >{{ reporte.descripcion }}</textarea>
    </li>
  </ul>
  <button type="submit">Editar</button>
</form>
{% endblock %}

