{% extends 'base.html' %}

{% block title %}
- Reporte: {{ reporte.titulo | upper() }}
{% endblock %}


{% block body %}

<div class="container">

    <section class="mb-4">
        <h3>{{ reporte.titulo | capitalize() }} #{{ reporte.id }}</h3>
        <p class="h5">{{ reporte.descripcion | capitalize() }}</p>
    </section>

    <ul class="container">
        <li class="row mb-2">
            <div class="col-md-2">
                <label class="form-label" for="fecha_emision">Fecha de emisión:</label>
            </div>
            <div class="col-md-4">
                <input class="form-control" type="date" name="fecha_emision" id="fecha_emision"
                    value="{{reporte.fecha_emision.strftime('%Y-%m-%d')}}">
            </div>
            <div class="col-md-2">
                <label class="form-label" for="estado">Estado:</label>
            </div>
            <div class="col-md-4">
                <select class="form-select" name="estado" id="estado">
                    <option value="{{reporte.estado}}">{{reporte.estado | capitalize() }}</option>
                </select>
            </div>
        </li>
        {% if reporte.fecha_atencion %}
        <div class="col-md-2">
            <label class="form-label" for="fecha_atencion">Fecha de atencion:</label>
        </div>
        <div class="col-md-4">
            <input class="form-control" type="date" name="fecha_atencion" id="fecha_atencion"
                value="{{reporte.fecha_atencion.strftime('%Y-%m-%d')}}">
        </div>
        {% endif %}
        {% if reporte.fecha_cierre %}
        <div class="col-md-2">
            <label class="form-label" for="fecha_cierre">Fecha de cierre:</label>
        </div>
        <div class="col-md-4">
            <input class="form-control" type="date" name="fecha_cierre" id="fecha_cierre"
                value="{{reporte.fecha_cierre.strftime('%Y-%m-%d')}}">
        </div>
        {% endif %}
        <li class="row mb-2">
            <div class="col-md-2">
                <label class="form-label" for="tipo">Tipo:</label>
            </div>
            <div class="col-md-4">
                <select class="form-select" name="tipo" id="tipo">
                    <option value="incidente">Incidente</option>
                    <option value="solicitud" {% if reporte.tipo=='solicitud' %}selected{% endif %}>Solicitud</option>
                </select>
            </div>
            <div class="col-md-2">
                <label class="form-label" for="categoria">Categoria:</label>
            </div>
            <div class="col-md-4">
                <select class="form-select" name="categoria" id="categoria">
                    <option value="{{reporte.categoria}}">{{reporte.categoria | capitalize() }}</option>
                </select>
            </div>
        </li>

        <li class="row mb-2">
            <div class="col-md-2">
                <label class="form-label" for="departamento">Departamento:</label>
            </div>
            <div class="col-md-4">
                <select class="form-select" name="departamento" id="departamento">
                    {% if reporte.departamento_id %}
                    <option value="{{ reporte.departamento_id }}">Departamento ID: {{ reporte.departamento_id }}
                    </option>
                    {% else %}
                    <option value="">----------</option>
                    {% endif %}
                </select>
            </div>
            <div class="col-md-2">
                <label class="form-label" for="equipo">Equipo:</label>
            </div>
            <div class="col-md-4">
                <select class="form-select" name="equipo" id="equipo">
                    {% if reporte.equipo_id %}
                    <option value="{{ reporte.equipo_id }}">Equipo ID: {{ reporte.departamento_id }}</option>
                    {% else %}
                    <option value="">----------</option>
                    {% endif %}
                </select>
            </div>
        </li>
    </ul>

    <!-- Comentarios -->
    <hr>
    <section>
        <h4>Comentarios:</h4>
        {% if comentarios %}
        {% for comentario in comentarios %}
        <div class="alert alert-dark alert-dismissible fade show">
            {{ comentario.comentario }}
            <button form="del-com-{{ comentario.id }}" type="submit" class="btn-close"></button>
            <form id="del-com-{{ comentario.id }}"
                action="{{ url_for('reportes.eliminar_comentario', id=comentario.id, reporte_id=reporte.id)}}"
                method="post"></form>
        </div>
        <div class="row text-end">
            <span>
                {{ comentario.fecha }}
            </span>
        </div>
        {% endfor %}
        {% endif %}
    </section>
    <!-- Añadir comentario -->
    <section>
        <form method="post" action="{{ url_for('reportes.crear_comentario', reporte_id=reporte.id) }}">
            <div class="form-floating">
                <textarea class="form-control" name="comentario" id="comentario"
                    placeholder="Añade un comentario"></textarea>
                <label for="comentario">Añadir comentario</label>
            </div>
            <input type="hidden" name="reporte_id" value="{{ reporte.id }}">
            <button class="form-control btn btn-primary mt-2" type="submit">Enviar</button>
        </form>
    </section>
</div>

{% endblock %}