<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitud de servicio</title>
    <link rel="stylesheet" href="../../static/css/pdfs/solicitud_de_servicio.css">
</head>

<body>
    <header>
        <!-- <img src="/src/static/images/rangel_hcga.png" id="nurr-logo" alt="" style="width: 150px; height: 150px;"> -->
        <img src="C:/Users/Gustavo/Documents/cautec/src/static/images/rangel_hcga.png" id="nurr-logo" alt="Logo ULA-NURR">
        <!-- <img src="../../static/images/rangel_hcga.png" id="nurr-logo" alt=""> -->

        <h1>Solicitud de servicio</h1>
        <div>Fecha: 26-11-2025</div>
    </header>
    <main>
        <section>
            <div class="linea-de-texto">
                <div>Nombre del solicitante: Jose bien</div>
            </div>
            <div class="linea-de-texto">
                <div>Unidad o Dependencia: Sala de referencia</div>
            </div>
            <div class="linea-de-texto">

                <div>Contactos: ext: None. mail:&nbsp;</div>
                <div class="subrayado"></div>

            </div>
            <div class="linea-de-texto">
                <div>Coord. o Jefe de Unidad: </div>
            </div>
            <div class="linea-de-texto">

                <div>Otro contacto:&nbsp;</div>
                <div class="subrayado"></div>

            </div>
        </section>
        <section>
            <div class="linea-de-texto">
                <div>Especificación del equipo</div>
                <div>Marca: </div>
                <div>Serial: </div>
            </div>
            <div class="linea-de-texto">
                <div>Control de bienes: 8-88888-88888</div>
            </div>
            <div class="linea-de-texto">
                <div>PC: ____</div>
                <div>Teclado: ____</div>
                <div>Ratón: ____</div>
                <div>Monitor: ____</div>
            </div>
            <div class="linea-de-texto">
                <div>Regulador</div>
                <div>Impresora: ____</div>
                <div>Router: ____</div>
                <div>Otro:&nbsp;</div>
                <div class="subrayado"></div>
            </div>
        </section>
        <section>
            <div>Descripción de la Falla: Funciona: Sí ___. No ___</div>
            <div>Diagnóstico:</div>
            <div></div>
        </section>
        <div class="text-center">Para ser llenado por Servicio y Soporte Técnico NURR (5643)</div>
        <section>
            <div>Número de reporte: __________</div>
            <div class="linea-de-texto">

                <div>Fecha de Atención: __/__/__</div>



                <div>Fecha de Entrega: __/__/__</div>


            </div>
            <div>Acción:</div>
            <div></div>
        </section>
    </main>
    <footer>
        <div class="linea-de-texto">
            <div>Solicitante:</div>
            <div>Jefe Unidad:</div>
            <div>SST-NURR:</div>
        </div>
        <div class="servicio-y-soporte-tecnico">Servicio y Soporte Técnico</div>
        <div>
            <p>Villa Universitaria. El Prado. Sector la Concepción. Edificio "D". Piso 1. Municipio Pampanito. Trujillo
                3150.</p>
            <p>República Bolivariana de Venezuela. Teléfonos: 0412-0955231. Corre-e: soportenurr@gmail.com</p>
        </div>
    </footer>
</body>

</html>