body {
  background: #fafafa;
}

.account-heading {
  font-size: 2.5rem;
}

button > a {
    text-decoration: none;
    color: inherit;
}

.cautec-navbar .nav-item {
  align-content: center;
}

.info-cuenta-header {
  display: flex;
  gap: .2rem;
}
.icon-cuenta-header svg {
  width: 2rem;
  fill: var(--bs-nav-link-color)
}
.usuario-cuenta-header {
  display: flex;
  align-items: center;  
}