{% extends 'layout.html' %}

{% block title %}
- Cuenta
{% endblock %}

{% block content %}
<div class="container-fluid flex-grow-1 py-2">
    <div class="row">
        {% include "messages.html" %}
    </div>

    <div class="row">
        <h2 class="account-heading">{{ usuario.usuario }}</h2>
        <!-- FORM HERE -->
        <!-- Empty action redirects to the same route -->
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="mb-2">Informacion de cuenta</legend>
                <div class="form-group">
                    {{ form.usuario.label(class="form-control-label") }}

                    {% if form.usuario.errors %}
                        {{ form.usuario(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.usuario.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.usuario(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                    <!-- FIELD ERROR MESSAGES -->
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary mt-2") }}
            </div>
        </form>

        <a href="{{ url_for('usuarios.cambiar_contrasena')}}">Cambiar contraseña</a>
    </div>
</div>
{% endblock content %}