* {
    margin: 0;
    padding: 0;
}

body {
    /* padding: 4rem; */
    line-height: 1.5;
    font-size: 1.2rem;
}

img#nurr-logo {
    width: 15rem;
    height: auto;
}

header > h1 {
    text-align: center;
}

header > div {
    text-align: right;
}
.linea-de-texto {
    display: flex;
    /* align-items: start; */
}

.subrayado {
    flex: 1;
    border-bottom: 1px solid black;
}

.text-center {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}

main > section {
    border: 1px solid black;
    padding: .5rem;
}

main > section + section {
    margin-top: 1rem;
}

main > section + div {
    margin-top: .2rem;
}

.marca-serial > span + span,
.tipo-dispositivo > span + span{
    margin-left: 2rem;
}

footer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 4rem 1rem 1.5rem 1rem;
}

footer > .linea-de-texto {
    justify-content: space-between;
}

footer > .linea-de-texto > span {
    margin-left: 6rem;
}

footer > .linea-de-texto > span + span {
    margin-left: 10rem;
}

footer > div + div {
    margin-top: 1rem;
}

.servicio-y-soporte-tecnico {
    font-weight: 900;
}
