{% extends 'layout.html' %}

{% block title %}
- Registrar departamento
{% endblock %}


{% block content %}

<div class="container-fluid flex-grow-1 py-2">
    <form action="{{ url_for('departamentos.crear_departamento') }}" method="post">
        <h2>Nueva área</h2>
        <fieldset>
            <!-- <legend>Ubicación</legend> -->
            <ul class="list-unstyled row g-3">
                <li class="col-4">
                    <label for="tipo-area" class="form-label">Tipo de área:</label>
                    <select name="tipo-area" id="tipo-area" class="form-select">
                        <option selected>Selecciona un tipo de área</option>
                        <option value="3">Aula</option>
                        <option value="2">Coordinación</option>
                        <option value="3">Cubiculo</option>
                        <option value="2">Dirección</option>
                        <option value="1">Departamento</option>
                        <option value="2">Dependencia</option>
                        <option value="1">Laboratorio</option>
                        <option value="1">Unidad</option>
                        <option value="2">Oficina</option>
                    </select>
                    
                </li>
                <li class="col-8">
                    <label for="nombre-area" class="form-label">Nombre del área:</label>
                    <input type="text" name="nombre-area" id="nombre-area" class="form-control" placeholder="Servicios generales">
                </li>
                <li class="col-12">
                    <label for="nombre-coor" class="form-label">Nommbre del coordinador:</label>
                    <input type="text" name="nombre-coor" id="nombre-coor" class="form-control" placeholder="José Morales">
                    <div class="form-text">Ingresa el nombre del coordinador o persona encargada del área</div>
                </li>
                <li class="col-4">
                    <label for="torre" class="col-auto form-label m-0">Torre:</label>
                    <select name="torre" id="torre" class="col form-select">
                        <option selected>Seleccionar torre</option>
                        <option value="1">A</option>
                        <option value="2">B</option>
                        <option value="3">C</option>
                        <option value="3">D</option>
                        <option value="3">E</option>
                        <option value="3">F</option>
                    </select>
                </li> 
                <li class="col-4">
                    <label for="piso" class="col-auto form-label m-0">Piso:</label>
                    <select name="piso" id="piso" class="col form-select">
                        <option selected>Seleccionar piso</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="1">3</option>
                        <option value="3">Planta baja</option>
                    </select>
                </li>
                <li class="col-4">
                    <label for="ext-telefonica" class="col-auto form-label m-0">Ext. telefónica:</label>
                    <input type="text" name="ext-telefonica" id="ext-telefonica" class="col form-control" placeholder="3311">
                </li>
            </ul>
        </fieldset>
        <!-- <input type="hidden" name="csrf_token" value="{ csrf_token() }"> -->
        <button type="submit" class="btn btn-primary w-100">Registrar área</button>
    </form>
</div>
{% endblock %}