{% extends 'base.html' %}

{% block title %}
- Registrar departamento
{% endblock %}


{% block body %}

<div class="container">
    <h2>Registrar nuevo departamento</h2>

    <form action="{{ url_for('departamentos.crear_departamento') }}" method="post">
        <ul class="container">
            <li class="row mb-2">
                <div class="col-md-2">
                    {{ form.nombre.label(class='form-label') }}
                </div>
                <div class="col-md-4">
                    {{ form.nombre(class='form-control') }}
                </div>
                <div class="col-md-2">
                    {{ form.ubicacion.label(class='form-label') }}
                </div>
                <div class="col-md-4">
                    {{ form.ubicacion(class='form-control') }}
                </div>
            </li>
            <li class="row mb-2">
                <div class="col-md-2">
                    {{ form.nombre_coordinador.label(class='form-label') }}
                </div>
                <div class="col-md-4">
                    {{ form.nombre_coordinador(class='form-control') }}
                </div>
                <div class="col-md-2">
                    {{ form.linea_telefonica.label(class='form-label') }}
                </div>
                <div class="col-md-4">
                    {{ form.linea_telefonica(class='form-control') }}
                </div>
            </li>
            <li class="row">
                {{ form.submit(class='btn btn-primary mt-2') }}
            </li>
        </ul>
</div>
</form>
{% endblock %}