<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitud de servicio</title>
    <link rel="stylesheet" href="solicitud_de_servicio.css">
</head>

<body>
    <header>
        <img src="../../static/images/rangel_hcga.png" id="nurr-logo" alt="">
        <h1>Solicitud de servicio</h1>
        <div>Fecha: __ / __ / ____</div>
    </header>
    <main>
        <section>
            <div class="linea-de-texto">
                <div>Nombre del solicitante:&nbsp;</div>
                <div class="subrayado"></div>
            </div>
            <div class="linea-de-texto">
                <div>Unidad o Dependencia:&nbsp;</div>
                <div class="subrayado"></div>
            </div>
            <div class="linea-de-texto">
                <div>Contactos: ext: _____. mail:&nbsp;</div>
                <div class="subrayado"></div>
            </div>
            <div class="linea-de-texto">
                <div>Coord. o Jefe de Unidad:&nbsp;</div>
                <div class="subrayado"></div>
            </div>
            <div class="linea-de-texto">
                <div>Otro contacto:&nbsp;</div>
                <div class="subrayado"></div>
            </div>
        </section>
        <section>
            <div class="linea-de-texto">
                <div>Especificación del equipo</div>
                <div>Marca:&nbsp;</div>
                <div class="subrayado"></div>
                <div>. &nbsp;</div>
                <div>Serial:&nbsp;</div>
                <div class="subrayado"></div>
            </div>
            <div class="linea-de-texto">
                <div>Control de bienes:&nbsp;</div>
                <div class="subrayado"></div>
            </div>
            <div class="linea-de-texto">
                <div>PC: ____</div>
                <div>Teclado: ____</div>
                <div>Ratón: ____</div>
                <div>Monitor: ____</div>
            </div>
            <div class="linea-de-texto">
                <div>Regulador</div>
                <div>Impresora: ____</div>
                <div>Router: ____</div>
                <div>Otro:&nbsp;</div>
                <div class="subrayado"></div>
            </div>
        </section>
        <section>
            <div>Descripción de la Falla: Funciona: Sí ___. No ___</div>
            <div>Diagnóstico:</div>
        </section>
        <div class="text-center">Para ser llenado por Servicio y Soporte Técnico NURR (5643)</div>
        <section>
            <div>Número de reporte: __________</div>
            <div class="linea-de-texto">
                <div>Fecha de Atención: __ / __ / ____</div>
                <div>Fecha de Entrega: __ / __ / ____</div>
            </div>
            <div>Acción:</div>
        </section>
    </main>
    <footer>
        <div class="linea-de-texto">
            <div>Solicitante:</div>
            <div>Jefe Unidad:</div>
            <div>SST-NURR:</div>
        </div>
        <div>Servicio y Soporte Técnico</div>

        <div>
            <p>Villa Universitaria. El Prado. Sector la Concepción. Edificio "D". Piso 1. Municipio Pampanito. Trujillo 3150.</p>
            <p>República Bolivariana de Venezuela. Teléfonos: +58 FALTA LO DEMÁS</p>
        </div>
    </footer>
</body>

</html>